@import '../../styles/variables';

:host ::ng-deep {
  .auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .auth-container {
      margin-top: 105px;
      width: 500px;
      height: auto;
      font-size: 16px;
      box-shadow: 0 5px 10px 0 rgba(10,10,10, .3);

      .mat-card-header {
        margin: 20px 0 40px;
        .mat-card-header-text {
          margin: 0 0;
        }
      }

      .form {
        .row {
          .form-field {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .mat-card-actions {
          margin-left: 0;
          margin-right: 0;
          display: flex;
          justify-content: flex-end;
        }
      }
      .bottom {
        text-align: center;
        font-size: 11px;
        a {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }
}
