@import './theme';
@import './media';
@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #000000;
}

.mat-table {
  width: 100%;
}

.mat-flat-button {
  &.mat-primary {
    padding: 3px 30px;
    color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(10,10,10, .3);
  }
}

.wrapper-content {
  padding-top: 20px;
  max-width: 80vw;
  margin: 0 auto;

  @include laptops {
    max-width: 866px;
  }

  @include laptopsDPI {
    max-width: 1150px;
  }

  @include desktop {
    max-width: 1430px;
  }
}
