<mat-card class="auth-container">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <form [formGroup]="signUpForm" class="form" (submit)="onSubmit()">
    <mat-card-content>
      <div class="row">
        <mat-form-field class="form-field">
          <app-form-validation-error
            [errors]="errors.username"
            [markAsDirty]="showErrorsIfSubmitted"
            [control]="usernameControl">
            <input matInput [formControl]="usernameControl" type="email" class="email" placeholder="Username"/>
          </app-form-validation-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form-field">
          <app-form-validation-error
            [errors]="errors.password"
            [markAsDirty]="showErrorsIfSubmitted"
            [control]="passwordControl">
            <input matInput [formControl]="passwordControl" type="password" placeholder="Password"/>
          </app-form-validation-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form-field">
          <app-form-validation-error
            [errors]="errors.confirmPassword"
            [markAsDirty]="showErrorsIfSubmitted"
            [control]="confirmPasswordControl">
            <input matInput [formControl]="confirmPasswordControl" type="password" placeholder="Confirm Password"/>
          </app-form-validation-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        type="submit"
        color="primary"
        class="btn">
        Sign Up
      </button>
    </mat-card-actions>
  </form>
  <div class="bottom">
    ALREADY REGISTERED?
    <a routerLink="/auth/sign-in">SIGN IN</a>
  </div>
</mat-card>
